/*********************
*  General Setup
**********************/
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'MeteoconsRegular';
  src: url("../fonts/meteocons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  background-color: black;
  font-family: "Raleway Webfont"; }

body {
  font-family: "Raleway Webfont";
  color: white; }

.blank {
  visibility: hidden; }

.section {
  border: 1px solid #5C5A59;
  height: 100%; }

.hidden {
  visibility: hidden; }

#top-row {
  height: 20%; }

#middle-row {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%; }

#bottom-row {
  height: 20%; }

/*********************
*  Compliment Section
**********************/
.section#compliment {
  text-align: center;
  position: relative;
  color: #FFFFFF; }
  .section#compliment #compliment-meat {
    font-family: 'Pacifico', cursive;
    font-size: 48px; }
  .section#compliment #compliment-pre, .section#compliment #compliment-post {
    font-size: 24px; }

/*********************
*  Quote Section
**********************/
#quote {
  text-align: center;
  position: relative;
  color: #FFFFFF; }
  #quote #quote-meat {
    font-size: 18px; }
  #quote::after {
    color: #808080;
    font: normal normal normal 5em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f10d";
    display: block;
    line-height: 1;
    position: absolute;
    top: 10px;
    left: -60px; }

/*********************
*  Calendar Section
**********************/
.section#time-and-calendars table#calendar-events {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; }
  .section#time-and-calendars table#calendar-events td {
    border: none;
    padding: 2px 5px; }
    .section#time-and-calendars table#calendar-events td.date-time {
      width: 50px; }
    .section#time-and-calendars table#calendar-events td:first-child {
      padding-left: 0; }
    .section#time-and-calendars table#calendar-events td:last-child {
      padding-right: 0; }

/*********************
*  Weather Section
**********************/
.section#weather table#weather-table {
  text-align: center; }
  .section#weather table#weather-table td {
    padding: 2px 5px; }
  .section#weather table#weather-table th {
    padding: 0; }
    .section#weather table#weather-table th.time-am::after {
      content: "A.M.";
      font-size: .6em; }
    .section#weather table#weather-table th.time-pm::after {
      content: "P.M.";
      font-size: .6em; }
  .section#weather table#weather-table td, .section#weather table#weather-table th {
    text-align: center;
    border: none; }
.section#weather .generic-icon, .section#weather .weather-icon.clear:before, .section#weather .weather-icon.few-clouds:before, .section#weather .weather-icon.scattered-clouds:before, .section#weather .weather-icon.broken-clouds:before, .section#weather .weather-icon.showers:before, .section#weather .weather-icon.rain:before, .section#weather .weather-icon.thunderstorm:before, .section#weather .weather-icon.mist:before, .section#weather .weather-icon.snow:before {
  color: #808080;
  font: normal normal normal 14px/1 MeteoconsRegular;
  -webkit-font-smoothing: antialiased;
  font-weight: 700; }
.section#weather .weather-icon.clear:before {
  content: "\42"; }
.section#weather .weather-icon.few-clouds:before {
  content: "\41"; }
.section#weather .weather-icon.scattered-clouds:before {
  content: "\48"; }
.section#weather .weather-icon.broken-clouds:before {
  content: "\59"; }
.section#weather .weather-icon.showers:before {
  content: "\58"; }
.section#weather .weather-icon.rain:before {
  content: "\52"; }
.section#weather .weather-icon.thunderstorm:before {
  content: "\5a"; }
.section#weather .weather-icon.mist:before {
  content: "\4a"; }
.section#weather .weather-icon.snow:before {
  content: "\57"; }

/*********************
*  Media Queries
**********************/
@media (min-width: 550px) {
  .container {
    width: 100%;
    max-width: none; } }

/*# sourceMappingURL=main.css.map */
