/*********************
*  General Setup
**********************/
@font-face {
  font-family: "Raleway Webfont";
  src: url('../fonts/raleway-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
html {
  background-color: black;
  font-family: "Raleway Webfont";
}
body {
  font-family: "Raleway Webfont";
  color: white;
}
.blank {
  visibility: hidden;
}
.section {
  border: 1px solid #5C5A59;
  height: 100%;
}
.hidden {
  visibility: hidden;
}
#top-row {
  height: 20%;
}
#middle-row {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#bottom-row {
  height: 20%;
}

/*********************
*  Compliment Section
**********************/
.section#compliment {
  text-align: center;
  position: relative;
  color: #FFFFFF;

  #compliment-meat {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
  }
  #compliment-pre, #compliment-post {
    font-size: 24px;
  }
}

/*********************
*  Quote Section
**********************/

#quote {
  text-align: center;
  position: relative;
  color: #FFFFFF;

  #quote-meat {
    font-size: 18px;
  }

  &::after {
    color: #808080;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f10d";
    display: block;
    font-size: 80px;
    line-height: 1;
    position: absolute;
    top: 10px;
    left: -60px;
  }
}

/*********************
*  Media Queries
**********************/

@media (min-width: 550px) {
  .container {
    width: 100%;
    max-width: none;
  }
}
