/*********************
*  General Setup
**********************/
$background-text-color: #808080;
@font-face {
  font-family: "Raleway Webfont";
  src: url('../fonts/raleway-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MeteoconsRegular';
  src: url('../fonts/meteocons-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: black;
  font-family: "Raleway Webfont";
}
body {
  font-family: "Raleway Webfont";
  color: white;
}
.blank {
  visibility: hidden;
}
.section {
  border: 1px solid #5C5A59;
  height: 100%;
}
.hidden {
  visibility: hidden;
}
#top-row {
  height: 20%;
}
#middle-row {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#bottom-row {
  height: 20%;
}

/*********************
*  Compliment Section
**********************/
.section#compliment {
  text-align: center;
  position: relative;
  color: #FFFFFF;

  #compliment-meat {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
  }
  #compliment-pre, #compliment-post {
    font-size: 24px;
  }
}

/*********************
*  Quote Section
**********************/

#quote {
  text-align: center;
  position: relative;
  color: #FFFFFF;

  #quote-meat {
    font-size: 18px;
  }

  &::after {
    color: $background-text-color;
    font: normal normal normal 5em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f10d";
    display: block;
    line-height: 1;
    position: absolute;
    top: 10px;
    left: -60px;
  }
}

/*********************
*  Calendar Section
**********************/
$event-v-padding: 2px;
$event-h-padding: 5px;
.section#time-and-calendars {
  table#calendar-events {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    td {
      border: none;
      padding: $event-v-padding $event-h-padding;

      &.date-time {
        width: 50px;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

/*********************
*  Weather Section
**********************/
.section#weather {
  table#weather-table {
    text-align: center;

    td {
      padding: $event-v-padding $event-h-padding;
    }
    th {
      padding: 0;

      &.time-am::after {
        content: "A.M.";
        font-size: .6em;
      }
      &.time-pm::after {
        content: "P.M.";
        font-size: .6em;
      }
    }
    td, th {
      text-align: center;
      border: none;
    }
  }
  .generic-icon {
    color: $background-text-color;
    font: normal normal normal 14px/1 MeteoconsRegular;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
  }
  .weather-icon {
    &.clear:before {
      content: "\42";
      @extend .generic-icon;
    }
    &.few-clouds:before {
      content: "\41";
      @extend .generic-icon;
    }
    &.scattered-clouds:before {
      content: "\48";
      @extend .generic-icon;
    }
    &.broken-clouds:before {
      content: "\59";
      @extend .generic-icon;
    }
    &.showers:before {
      content: "\58";
      @extend .generic-icon;
    }
    &.rain:before {
      content: "\52";
      @extend .generic-icon;
    }
    &.thunderstorm:before {
      content: "\5a";
      @extend .generic-icon;
    }
    &.mist:before {
      content: "\4a";
      @extend .generic-icon;
    }
    &.snow:before {
      content: "\57";
      @extend .generic-icon;
    }
  }
}

/*********************
*  Media Queries
**********************/
@media (min-width: 550px) {
  .container {
    width: 100%;
    max-width: none;
  }
}
